<form [formGroup]="form" (submit)="onFormSubmit()">
    <div class="card">
        <div class="card-body d-flex flex-row">
            <div class="d-flex flex-column">
                <label for="amount">Montant désiré :</label>
                <input id="amount" formControlName="amount">
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-primary" (click)="onNextAmount()">Montant suivant</button>
                <button type="button" class="btn btn-primary" (click)="onPreviousAmount()">montant précédent</button>
            </div>
        </div>
        <div class="card-body">
            <ng-container *ngTemplateOutlet="visibleCardsTemplate"></ng-container>
        </div>
    </div>
</form>

<ng-template #equalTemplate>
    <p>Votre montant est composé des cartes suivantes : </p>
    <ul>
        <li *ngFor="let card of searchCombinationResult.equal.cards">
            {{card | currency:'EUR':'symbol':'1.2-2':'fr-FR'}}
        </li>
    </ul>
</ng-template>

<ng-template #notEqualTemplate>
    <p>Veuillez choisir parmi les possibles montants : </p>
    <ul>
        <ng-container *ngFor="let calculatorValue of searchCombinationResult | keyvalue">
            <ng-container *ngTemplateOutlet="buttonNotEqualTemplate; context: {$implicit: calculatorValue.value}"></ng-container>
        </ng-container>
    </ul>

    <ng-template #buttonNotEqualTemplate let-calculatorValue>
        <li>
            <button type="button" class="btn btn-primary" (click)="chooseNewAmount(calculatorValue)">
                {{calculatorValue.value | currency:'EUR':'symbol':'1.2-2':'fr-FR'}}
                <ng-container *ngIf="calculatorValue.cards.length > 1">
                    (<ng-container *ngFor="let card of calculatorValue.cards; last as isLast">
                        {{card | currency:'EUR':'symbol':'1.2-2':'fr-FR'}} {{isLast ? '' : ' + '}} 
                    </ng-container>)
                </ng-container>
            </button>
        </li>
    </ng-template>
</ng-template>