<div 
    class="card clickable" 
    style="width: 18rem;" 
    *ngFor="let shop of shops" 
    [routerLink]="'../'+shop.id + '/search-combination'"
>
    <img src="assets/images/shops/card/{{shop.imgId}}.jpg" class="card-img-top" alt="Shop name">
    <div class="card-body">
      <h5 class="card-title">{{shop.name}}</h5>
    </div>
</div>